<!DOCTYPE html>
<html>
<head>
    <title>Welcome - Emotion Aware</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body style="background: linear-gradient(120deg, #1f1c2c, #928dab);">

<div class="container vh-100 d-flex justify-content-center align-items-center">
    <div class="text-center text-white animate__animated animate__fadeInDown">

        <h1 class="mb-4">Emotion Aware</h1>
        <p class="mb-4">Face + Text Emotion Detection Platform</p>

        <a href="{% url 'login' %}" class="btn btn-light btn-lg me-3 animated-btn">
            Login
        </a>

        <a href="{% url 'register' %}" class="btn btn-warning btn-lg animated-btn">
            Register
        </a>

    </div>
</div>

</body>
</html>